p-table{
    margin: 100px;
}

.tr:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}