<div class="homeContainer">
  <div class="tableContainer">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="tr">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td class="actions"><button pButton type="button" icon="pi pi-user-edit" (click)="editToggle(user.id)" iconPos="left"
              class="p-button-raised p-button-rounded"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="deleteUser(user.id)" iconPos="left"
              class="p-button-raised p-button-rounded p-button-danger"></button>
          <button (click)="showUserInfo(user)" pButton type="button" icon="pi pi-eye" iconPos="left"
            class="p-button-raised p-button-rounded p-button-outlined"></button></td>
          </tr>
      </ng-template>
    </p-table>

    <p-paginator [rows]="6" [totalRecords]="12" (onPageChange)="fetchUsers($event.page)"></p-paginator>
  
  </div>
  
  <div class="formContainer">
    <p-card>
      <form #createdUser="ngForm" (ngSubmit)="createUser(createdUser.value, createdUser)">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" pInputText ngModel name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" pInputText ngModel name="lastName">
        <label for="email">Email</label>
        <input type="text" id="email" pInputText ngModel name="email" >
        <label for="avatar">Avatar</label>
        <input type="text" id="avatar" pInputText ngModel name="avatar">
        <p-button label="Create User" type="submit"></p-button>
      </form>
    </p-card>
  </div>

    <p-confirmDialog header="Delete" icon="pi pi-exclamation-circle"></p-confirmDialog>

    <p-dialog [modal]="true" header="Edit User" [(visible)]="editModal">
      <form #editingUser="ngForm" (ngSubmit)="editUser(editingUser.value)">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" pInputText ngModel name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" pInputText ngModel name="lastName">
        <label for="email">Email</label>
        <input type="text" id="email" pInputText ngModel name="email" >
        <label for="avatar">Avatar</label>
        <input type="text" id="avatar" pInputText ngModel name="avatar">
        <p-button label="Edit" type="submit"></p-button>
      </form>
    </p-dialog>

</div>