.actions{
    display: flex;
    justify-content: space-evenly;
}

.homeContainer{
    display: flex;
}

.tableContainer{
    flex: 2;
    margin: 0 25px;
}

p-table{
    margin: 100px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

label{
    width: 100%;
    text-align: start;
    margin: 10px 0;
    color: rgb(86, 86, 86);
}

.formContainer p-button{
    margin: 32px 0 0 0;
}

.tr:hover{
    background-color: rgba(220, 220, 220, 0.338);
}